.dbe-btn {
  font-size: 1.6rem;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  white-space: nowrap;
  display: flex;
  font-family: '__Montserrat_b527fe', '__Montserrat_Fallback_b527fe';
}

.icon {
  display: inline-flex;
  min-width: 16px;
  min-height: 16px;
  max-width: 24px;
  max-height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.title {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.icon + .title,
.title + .icon {
  margin-left: 12px;
}

.primary {
  display: inline-flex;
  border-radius: 6px;
  background-color: #e0592a;
  color: #f3f0ed;
  &:hover {
    opacity: 0.9;
  }
}

.outline {
  display: inline-flex;
  border-radius: 6px;
  background-color: #fff;
  color: #e0592a;
  border: 1px solid currentColor;
  &:hover {
    background-color: #e0592a;
    color: #fff;
    border: 1px solid #e0592a;
  }
}

.text,
.text_e,
.link {
  letter-spacing: 1px;
  margin: 0;
  padding: 0 8px;
  background-color: transparent;
  border-radius: 6px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  color: #e0592a;
}

.text_e {
  &:hover {
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
  }
}
.link {
  color: #1976d2;
  &:hover {
    text-decoration: underline;
  }
}

.scale {
  &:hover {
    transform: scale(1.04);
  }
}

.active {
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.disable {
  cursor: not-allowed;
  opacity: 0.5;
  user-select: none;
}
