::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trình duyệt Chrome và Safari */
}
html {
  font-size: 62.5%;
  min-width: 320px;
  scroll-behavior: smooth;
  font-family: '__Montserrat_b527fe', '__Montserrat_Fallback_b527fe';
}

button {
  cursor: pointer;
}

button,
input,
[tabindex] {
  background-color: transparent;
  outline: 1px solid transparent;
  border: 1px solid transparent;
}

a[href] {
  text-decoration: none;
  color: inherit;
  line-height: normal;
  &:hover {
    color: #337ab7;
  }
}

body {
  .MuiTooltip-tooltip {
    font-size: 1.4rem;
  }
}
