::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trình duyệt Chrome và Safari */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
  min-width: 320px;
  scroll-behavior: smooth;
  font-family: '__Montserrat_b527fe', '__Montserrat_Fallback_b527fe';
}

button {
  cursor: pointer;
}

button,
input,
[tabindex] {
  background-color: transparent;
  outline: 1px solid transparent;
  border: 1px solid transparent;
}

a[href] {
  text-decoration: none;
  line-height: normal;
}

body {
  .MuiTooltip-tooltip {
    font-size: 1.4rem;
  }
}
