::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trình duyệt Chrome và Safari */
}
html {
  font-size: 62.5%;
}
button {
  cursor: pointer;
}

button,
input,
[tabindex] {
  background-color: transparent;
  outline: 1px solid transparent;
  border: 1px solid transparent;
}

a[href] {
  text-decoration: none;
  color: inherit;
}
